# Exploración y segmentación de clientes

## 1. Carga el dataset
a. Carga el conjunto de datos proporcionado.

b. Realiza una evaluación preliminar de los datos. Identifica el número de características, sus tipos de datos y verifica la existencia de valores faltantes.

In [1]:
import pandas as pd
df = pd.read_csv("/workspaces/EDA-Bank-Data/data/raw/SuperBanck.csv")

In [ ]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,NaN,0.818182,95.4,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,NaN,201.802084,NaN,0.0,12.0
1,C10002,3202.467416,NaN,0.0,NaN,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,NaN,12.0
2,C10003,2495.148862,1.000000,NaN,773.17,0.0,NaN,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.0,12.0
3,C10004,NaN,0.636364,1499.0,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,NaN,0.0,12.0
4,C10005,817.714335,1.000000,16.0,NaN,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.0,12.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8055 non-null   float64
 2   BALANCE_FREQUENCY                 8055 non-null   float64
 3   PURCHASES                         8055 non-null   float64
 4   ONEOFF_PURCHASES                  8055 non-null   float64
 5   INSTALLMENTS_PURCHASES            8055 non-null   float64
 6   CASH_ADVANCE                      8055 non-null   float64
 7   PURCHASES_FREQUENCY               8055 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8055 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8055 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8055 non-null   float64
 11  CASH_ADVANCE_TRX                  8055 non-null   float64
 12  PURCHASES_TRX                     8055 non-null   float64
 13  CREDIT_LIMIT                      8054 non-null   float64
 14  PAYMENTS                          8055 non-null   float64
 15  MINIMUM_PAYMENTS                  7782 non-null   float64
 16  PRC_FULL_PAYMENT                  8055 non-null   float64
 17  TENURE                            8055 non-null   float64
dtypes: float64(17), object(1)
memory usage: 1.2+ MB

In [4]:
df.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [5]:
for col in df.columns:
    miss = df[col].isna().sum() 
    if miss > 0:
        print(f"{col} has total {miss} missing values")

BALANCE has total 895 missing values
BALANCE_FREQUENCY has total 895 missing values
PURCHASES has total 895 missing values
ONEOFF_PURCHASES has total 895 missing values
INSTALLMENTS_PURCHASES has total 895 missing values
CASH_ADVANCE has total 895 missing values
PURCHASES_FREQUENCY has total 895 missing values
ONEOFF_PURCHASES_FREQUENCY has total 895 missing values
PURCHASES_INSTALLMENTS_FREQUENCY has total 895 missing values
CASH_ADVANCE_FREQUENCY has total 895 missing values
CASH_ADVANCE_TRX has total 895 missing values
PURCHASES_TRX has total 895 missing values
CREDIT_LIMIT has total 896 missing values
PAYMENTS has total 895 missing values
MINIMUM_PAYMENTS has total 1168 missing values
PRC_FULL_PAYMENT has total 895 missing values
TENURE has total 895 missing values

# 2. Limpieza de Datos:
a. Identifica al menos un mecanismo para imputar datos y justifícalo

b. Elimina datos de ruido si existieran